<h1>Login</h1>

<%= form_tag '/login' do %>

  <div class="form-group">
    <%= label_tag :email %><span>*</span><br>
    <%= text_field_tag :email, "", class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag :password %><span>*</span><br>
    <%= password_field_tag :password, "", class: 'form-control' %>
  </div>
  <%= submit_tag "Login", class: 'btn btn-primary' %>

<% end %>