<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd>$<%= @product.price %></dd>
        </dl>
      </div>

    </div>
      <% if current_user %>
        <div class="row">
          <h3>Add a Review:</h3>

          <%= form_for([@product, @product.reviews.build]) do |f| %>
            <p>
              <%= f.label :description %>:<span>*</span><br/>
              <%= text_area_tag 'description', "", class: 'form-control' %>
            </p>
            <p>
              <%= f.label :rating %>: 
              <%= select_tag "rating", raw("<option></option><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option>"), class: 'form-control' %>
            </p>
            <p>
              <%= f.submit 'Create Review', class: 'btn btn-primary'%>
            </p>
          <% end %>
        </div>
      <% end %>
    <div class="row">


      <h3><%= pluralize @reviews.length, 'Customer Review' %>:</h3>
      <%= render @reviews %>

    </div>

  </article>

</section>
